li {
    list-style-type: none;
    width: 33%;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 25px;
}

/* Your code here */
[data-type="drinks"] {
    background-color: blue;
}

[data-type="bakery"] {
    background-color: red;
}

[data-type="canned"] {
    background-color: orange;
}

[data-type="dairy"] {
    background-color: purple;
}

[data-type="frozen"] {
    background-color: pink;
}

[data-type="meats"] {
    background-color: yellow;
}

[data-type="produce"] {
    background-color: green;
}

[data-type="toiletries"] {
    background-color: cyan;
}

[data-type="other"] {
    background-color: white;
}
